USE [Clinc]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 7/19/2025 7:45:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[Doctor_id] [int] NOT NULL,
	[Patient_id] [int] NOT NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Billing]    Script Date: 7/19/2025 7:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billing](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[BillingDate] [date] NOT NULL,
	[Amount] [float] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Doctor_id] [int] NOT NULL,
	[Patient_id] [int] NOT NULL,
 CONSTRAINT [PK_Billing] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor_Phones]    Script Date: 7/19/2025 7:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor_Phones](
	[Doctor_id] [int] NOT NULL,
	[Phone] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Doctor_Phones] PRIMARY KEY CLUSTERED 
(
	[Doctor_id] ASC,
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 7/19/2025 7:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Specialization] [nvarchar](50) NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecords]    Script Date: 7/19/2025 7:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecords](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[RecoredDate] [date] NOT NULL,
	[Observation] [nvarchar](max) NOT NULL,
	[Doctor_id] [int] NOT NULL,
	[Patient_id] [int] NOT NULL,
 CONSTRAINT [PK_MedicalRecords] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalTest]    Script Date: 7/19/2025 7:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalTest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TestDate] [date] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Note] [nvarchar](max) NULL,
	[Result] [nvarchar](max) NULL,
	[Doctor_id] [int] NOT NULL,
	[Patient_id] [int] NOT NULL,
 CONSTRAINT [PK_MedicalTest] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medications]    Script Date: 7/19/2025 7:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[PrescriptionDate] [date] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Frequency] [nvarchar](50) NOT NULL,
	[Dosage] [nvarchar](50) NOT NULL,
	[Doctor_id] [int] NOT NULL,
	[Patient_id] [int] NOT NULL,
 CONSTRAINT [PK_Medications] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 7/19/2025 7:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[Email] [varchar](50) NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MedicalTest] ADD  CONSTRAINT [DF_MedicalTest_TestDate]  DEFAULT (getdate()) FOR [TestDate]
GO
ALTER TABLE [dbo].[Medications] ADD  CONSTRAINT [DF_Medications_PrescriptionDate]  DEFAULT (getdate()) FOR [PrescriptionDate]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Doctors] FOREIGN KEY([Doctor_id])
REFERENCES [dbo].[Doctors] ([id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Doctors]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Patients] FOREIGN KEY([Patient_id])
REFERENCES [dbo].[Patients] ([id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Patients]
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD  CONSTRAINT [FK_Billing_Doctors] FOREIGN KEY([Doctor_id])
REFERENCES [dbo].[Doctors] ([id])
GO
ALTER TABLE [dbo].[Billing] CHECK CONSTRAINT [FK_Billing_Doctors]
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD  CONSTRAINT [FK_Billing_Patients] FOREIGN KEY([Patient_id])
REFERENCES [dbo].[Patients] ([id])
GO
ALTER TABLE [dbo].[Billing] CHECK CONSTRAINT [FK_Billing_Patients]
GO
ALTER TABLE [dbo].[Doctor_Phones]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Phones_Doctors] FOREIGN KEY([Doctor_id])
REFERENCES [dbo].[Doctors] ([id])
GO
ALTER TABLE [dbo].[Doctor_Phones] CHECK CONSTRAINT [FK_Doctor_Phones_Doctors]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecords_Doctors] FOREIGN KEY([Doctor_id])
REFERENCES [dbo].[Doctors] ([id])
GO
ALTER TABLE [dbo].[MedicalRecords] CHECK CONSTRAINT [FK_MedicalRecords_Doctors]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecords_Patients] FOREIGN KEY([Patient_id])
REFERENCES [dbo].[Patients] ([id])
GO
ALTER TABLE [dbo].[MedicalRecords] CHECK CONSTRAINT [FK_MedicalRecords_Patients]
GO
ALTER TABLE [dbo].[MedicalTest]  WITH CHECK ADD  CONSTRAINT [FK_MedicalTest_Doctors] FOREIGN KEY([Doctor_id])
REFERENCES [dbo].[Doctors] ([id])
GO
ALTER TABLE [dbo].[MedicalTest] CHECK CONSTRAINT [FK_MedicalTest_Doctors]
GO
ALTER TABLE [dbo].[MedicalTest]  WITH CHECK ADD  CONSTRAINT [FK_MedicalTest_Patients] FOREIGN KEY([Patient_id])
REFERENCES [dbo].[Patients] ([id])
GO
ALTER TABLE [dbo].[MedicalTest] CHECK CONSTRAINT [FK_MedicalTest_Patients]
GO
ALTER TABLE [dbo].[Medications]  WITH CHECK ADD  CONSTRAINT [FK_Medications_Doctors] FOREIGN KEY([Doctor_id])
REFERENCES [dbo].[Doctors] ([id])
GO
ALTER TABLE [dbo].[Medications] CHECK CONSTRAINT [FK_Medications_Doctors]
GO
ALTER TABLE [dbo].[Medications]  WITH CHECK ADD  CONSTRAINT [FK_Medications_Patients] FOREIGN KEY([Patient_id])
REFERENCES [dbo].[Patients] ([id])
GO
ALTER TABLE [dbo].[Medications] CHECK CONSTRAINT [FK_Medications_Patients]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [CK_Appointments] CHECK  (([AppointmentDate]>=getdate()))
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [CK_Appointments]
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD  CONSTRAINT [CK_Billing] CHECK  (([BillingDate]<=getdate()))
GO
ALTER TABLE [dbo].[Billing] CHECK CONSTRAINT [CK_Billing]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD  CONSTRAINT [CK_MedicalRecords] CHECK  (([RecoredDate]<=getdate()))
GO
ALTER TABLE [dbo].[MedicalRecords] CHECK CONSTRAINT [CK_MedicalRecords]
GO
ALTER TABLE [dbo].[MedicalTest]  WITH CHECK ADD  CONSTRAINT [CK_MedicalTest] CHECK  (([TestDate]<=getdate()))
GO
ALTER TABLE [dbo].[MedicalTest] CHECK CONSTRAINT [CK_MedicalTest]
GO
ALTER TABLE [dbo].[Medications]  WITH CHECK ADD  CONSTRAINT [CK_Medications] CHECK  (([PrescriptionDate]<=getdate()))
GO
ALTER TABLE [dbo].[Medications] CHECK CONSTRAINT [CK_Medications]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [CK_Patients] CHECK  (([DOB]<getdate()))
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [CK_Patients]
GO
